# Ignore node_modules directory
node_modules/
packages/**/node_modules/

# Ignore built files and directories
dist/
build/
out/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore package lock files
pnpm-lock.yaml

# Ignore OS-specific files
.DS_Store
Thumbs.db

.eslintcache
.npmrc
*storybook.log

.npmrc